<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tiefensuche.soundcrowd.plugins.youtube">

    <application>
        <provider
            android:name="com.tiefensuche.soundcrowd.plugins.youtube.Plugin"
            android:authorities="com.tiefensuche.soundcrowd.plugins.youtube"
            android:exported="true"
            tools:ignore="Instantiatable">
            <intent-filter>
                <action android:name="com.tiefensuche.soundcrowd.plugins" />
            </intent-filter>
        </provider>
    </application>
</manifest>